:root {
    --height_toolbar: 64px;
    --space-tiny: 4px;
    --space-small: 8px;
    --space-large: 16px;
    --space-extreme: 32px;
    --padding-title: 72px;
    --dist-card-move: 30px;
    --border-width: 2px;

    --color-disabled: #d2d2d2;
    --color-on-primary: #FFF;
    --color-on-background-dark: #FFF;
    --color-surface-dark: #2a2a2a;
    --color-background-dark: #1d1d1d;
    --color-on-background: #000;
    --color-surface: #FFF;
    --color-background: #F5F5F5;
    --color-error: #8e0509;
    --color-on-error: #FFF;
    --color-primary: #DA2128;
    --color-primary-ripple: rgba(218, 33, 40, 0.7);
}

* {
    color: var(--color-on-background);
}

a {
    color: var(--color-on-background) !important;
}

body {
    background-color: var(--color-background);
}

nav {
    background-color: var(--color-surface);
}

.brand-logo img {
    height: 48px;
    margin: 8px;
}

.primary {
    color: var(--color-on-primary) !important;
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: var(--color-primary-ripple);
}

.search-bar a, button {
    margin: var(--space-small);
}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.error {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-error) !important;
}

.error h6 {
    margin: 0 0 0 var(--space-large) !important;
    color: var(--color-on-error) !important;
}

.error i {
    color: var(--color-on-error);
}

.container-login {
  margin: 48px auto 0 auto;
  max-width: 880px;
  width: 90%;
}

.container-login h3 {
    margin: var(--space-large) 0 0 0;
}

.container-login .input-field {
    margin-top: var(--space-extreme);
}
.card.container-login .input-field {
    margin-top: var(--space-extreme);
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: var(--space-large);
}

.card {
    padding: var(--space-large) !important;
    background-color: var(--color-surface);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: transparent solid var(--border-width);
}

.card:not(.error):not(.container-login):hover, .card-active {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: translateX(var(--dist-card-move));
}

.card-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.tag-holder {
    margin-top: var(--space-small);
}

.tag-holder * {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.center-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn-extended span {
    margin-left: var(--space-small);
    color: var(--color-on-primary);
}
.btn-extended {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit !important;
    border-radius: 56px !important;
    padding-left: var(--space-large) !important;
    padding-right: var(--space-large) !important;
}

#logo-text {
    display: none;
    margin-left: var(--padding-title);
}

@media only screen and (min-width: 615px) {
    .brand-logo img {
        position: absolute;
        transform: translateX(0px);
    }

    #logo-text {
        display: inline;
    }
}
