* {
    color: var(--color-on-background);
}

a {
    color: var(--color-on-background) !important;
}

body {
    background-color: var(--color-background);
}

nav {
    background-color: var(--color-surface);
}

label {
    pointer-events: none;
}

.brand-logo img {
    height: 48px;
    margin: 8px;
}

.primary {
    color: var(--color-on-primary) !important;
    background-color: var(--color-primary) !important;
}

.primary i {
    color: var(--color-on-primary);
}

.controls {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: var(--space-small);
}

.text-primary {
    color: var(--color-primary) !important;
}

.waves-effect.waves-primary .waves-ripple {
    background-color: var(--color-primary-ripple);
}

.search-bar a .search-bar button {
    margin: var(--space-small);
}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.error {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-error) !important;
}

.error h6 {
    margin: 0 0 0 var(--space-large) !important;
    color: var(--color-on-error) !important;
}

.error i {
    color: var(--color-on-error);
}

.container-login {
    width: 90%;
    max-width: 880px;
    margin: 48px auto 0 auto;
}

.container-login h3 {
    margin: var(--space-large) 0 0 0;
}

.input-field {
    padding: 0 .75rem;
}

.container-login .input-field {
    margin-top: var(--space-extreme);
}

.card.container-login .input-field {
    margin-top: var(--space-extreme);
}

.username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: var(--space-large);
}

.username span {
    margin-right: var(--space-large);
}

.card {
    padding: var(--space-large) !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: transparent solid var(--border-width);
    background-color: var(--color-surface);
}

.card:not(.error):not(.container-login):hover, .card-active {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    transform: translateX(var(--dist-card-move));
}

.card-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.card-header strong {
    white-space: nowrap;
}

.tag-holder {
    margin-top: var(--space-small);
}

.tag-holder * {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header-container h3 {
    overflow: hidden;
    max-width: 34ch;
    text-overflow: ellipsis;
}

.header-container p {
    overflow: hidden;
    max-width: 72ch;
    text-overflow: ellipsis;
}

.center-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.answer_holder {
    margin-bottom: var(--space-extreme);
}

.input-field.with-prefix {
    width: 80%;
    margin-right: auto;
}
.input-field.with-prefix.full-width {
    width: 100%;
}
.prefix {
    cursor: pointer;
}
.input-field.with-prefix .prefix {
    right: 0;
    transform: translateY(-10px);
}

.submit-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-large);
}

.btn-extended span {
    margin-left: var(--space-small);
    color: var(--color-on-primary);
}

.btn-extended {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit !important;
    padding-right: var(--space-large) !important;
    padding-left: var(--space-large) !important;
    border-radius: 56px !important;
}

#logo-text {
    display: none;
    margin-left: var(--padding-title);
}

@media only screen and (min-width: 615px) {
    .brand-logo img {
        position: absolute;
        transform: translateX(0px);
    }

    #logo-text {
        display: inline;
    }
}
