<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/base_variables.css' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/css/colors.css' %}">
    <link rel="stylesheet" href="{% static '/css/material_override.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/bp_logo.png' %}" sizes="96x96">
    <title>Bosch Polls</title>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static '/js/materialize.min.js' %}"></script>
<script src="{% static '/js/handle_dark_mode.js' %}"></script>
<body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        M.AutoInit(document.body)
    });
</script>

<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">
            <img src="{% static 'img/bp_logo.png' %}" alt="logo">
            <p id="logo-text">Bosch Polls</p>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><i class="material-icons waves-effect waves-primary btn-flat" onclick="toggle_dark_mode()"
                   style="color: var(--color-on-background);">brightness_medium</i></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}" class="waves-effect waves-primary btn-flat">Log in</a></li>
            <li><a href="{% url 'signup' %}" class="waves-effect waves-light btn primary">Sign up</a></li>
            {% else %}
            <li class="username"><span>Welcome, {{user.username}}</span><a href="{% url 'login'%}"><i
                    class="material-icons">logout</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container" style="padding-top: var(--space-large)">
        {% if is_error %}
        <div class="card error">
            <i class="material-icons">error</i>
            <h6>{{msg_error}}</h6>
        </div>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>
<div class="fixed-action-btn">
    <a href="{% url 'create-poll' %}" class="btn-floating btn-large primary btn-extended">
        <i class="large material-icons">add</i>
        <span>Create Poll</span>
    </a>
</div>
</body>
</html>