{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-login card">
    <h3>Create your own <strong class="text-primary">Poll</strong>.</h3>
    <form method="post">
        {% csrf_token %}

        {{form.creator.as_hidden}}

        <div class="input-field  col">
            {{ form.question }}
            <span class="helper-text" data-error="wrong" data-success="right">
                {{form.question.errors}}
            </span>
            <label for="{{ form.question.id_for_label }}">Question</label>
        </div>

        <div class="input-field  col">
            {{ form.start_date }}
            <span class="helper-text" data-error="wrong" data-success="right">
                {{form.start_date.errors}}
            </span>
            <label for="{{ form.start_date.id_for_label }}">Start Date</label>
        </div>

        <div class="input-field  col">
            {{ form.end_date }}
            <span class="helper-text" data-error="wrong" data-success="right">
                {{form.end_date.errors}}
            </span>
            <label for="{{ form.end_date.id_for_label }}">End Date</label>
        </div>

        <div class="chips">
        </div>

        <script>
            const active_tags_from_django = '{{ tags|escapejs }}'.replaceAll("\'", "\"");
            const json_tags = JSON.parse(active_tags_from_django)

            const all_tags_from_django = '{{ all_tags|escapejs }}'.replaceAll("\'", "\"");
            const all_tags = JSON.parse(all_tags_from_django).reduce((acc, e) => {
                acc[e] = null
                return acc
            }, {})

            let create_final_chip;
        </script>
        <script src="{% static '/js/create_answer_input.js' %}"></script>
        <script src="{% static '/js/initialize_chips.js' %}"></script>

        <div class="answer_holder">
            <h4>Answers</h4>
            <div class="input-field col">
                {{form.answer_1}}
                <span class="helper-text" data-error="wrong" data-success="right">
                    {{form.answer_1.errors}}
                </span>
                <label for="{{ form.answer_1.id_for_label }}">{{ form.answer_1.label }}</label>
            </div>
            <div class="input-field col">
                {{form.answer_2}}
                <span class="helper-text" data-error="wrong" data-success="right">
                    {{form.answer_2.errors}}
                </span>
                <label for="{{ form.answer_2.id_for_label }}">{{ form.answer_2.label }}</label>
            </div>
            <div class="input-field col">
                {{form.answer_3}}
                <span class="helper-text" data-error="wrong" data-success="right">
                    {{form.answer_3.errors}}
                </span>
                <label for="{{ form.answer_3.id_for_label }}">{{ form.answer_3.label }}</label>
            </div>
            <div id="new-answers">
                {% for answer in answers %}
                <div class="input-field col with-prefix full-width" id="parent_{{answer.key}}">
                    <span class="prefix" onclick="remove_input_field(`parent_{{answer.key}}`)"><i class="material-icons">clear</i></span>
                    <input type="text" name="answer_{{answer.key}}" id="answer_{{answer.key}}" value="{{answer.answer}}">
                    <label for="{{ answer.key }}">Answer {{ answer.key }}</label>
                </div>
                {% endfor %}
            </div>
            <button class="waves-effect waves-light btn primary" style="margin-left: auto" type="button"
                    onclick="add_input_field()">Add
            </button>
        </div>

        <div class="submit-buttons">
            <button onclick="create_final_chip()" type="submit" name="submit" value="submit"
                    class="waves-effect waves-light btn primary">Submit
            </button>
            <a href="{% url 'home' %}" class="waves-effect waves-primary btn-flat">Cancel</a>
        </div>
    </form>
</div>


<script src="{% static '/js/hide_fab.js' %}"></script>
{% endblock %}
