{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>Discover our <strong class="text-primary">Polls</strong>.</h3>
    <form class="search-bar">
        <div class="row">
            <div class="input-field col s8">
                <input id="icon_prefix" type="text" placeholder="Search for polls..." class="validate">
                <label for="icon_prefix">Search</label>
            </div>
            <a class="col s1 waves-effect waves-primary btn-flat">
                <i class="material-icons left">filter_list</i>
                Filter
            </a>
            <a class="col s1 waves-effect waves-light btn primary">
                Search
            </a>
        </div>
    </form>
    <div class="row">
        <div class="card col s10 c1-card">
            <div class="card-header">
                <h5>Question of this card?</h5>
                <strong>1.629 Votes</strong>
            </div>
            <div class="tag-holder">
                <div class="chip c1">
                    Fundamental
                </div>
                <div class="chip c2">
                    Technical
                </div>
            </div>
        </div>
        <div class="card col s10 c2-card">
            <div class="card-header">
                <h5>Question of this card?</h5>
                <strong>1.629 Votes</strong>
            </div>
            <div class="tag-holder">
                <div class="chip c2">
                    Fundamental
                </div>
                <div class="chip c3">
                    Technical
                </div>
            </div>
        </div>
        <div class="card col s10 c3-card">
            <div class="card-header">
                <h5>Question of this card?</h5>
                <strong>1.629 Votes</strong>
            </div>
            <div class="tag-holder">
                <div class="chip c3">
                    Fundamental
                </div>
                <div class="chip c4">
                    Technical
                </div>
            </div>
        </div>
        <div class="card col s10 c4-card">
            <div class="card-header">
                <h5>Question of this card?</h5>
                <strong>1.629 Votes</strong>
            </div>
            <div class="tag-holder">
                <div class="chip c4">
                    Fundamental
                </div>
                <div class="chip c5">
                    Technical
                </div>
            </div>
        </div>
        <div class="card col s10 c5-card">
            <div class="card-header">
                <h5>Question of this card?</h5>
                <strong>1.629 Votes</strong>
            </div>
            <div class="tag-holder">
                <div class="chip c5">
                    Fundamental
                </div>
                <div class="chip c6">
                    Technical
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}